a.active{
    color: red;
    font-weight: bold;
}
.card-img-top {
    width: 100%; /* Đặt chiều rộng là 100% để hình ảnh đầy đủ khung card */
    height: 200px; /* Đặt chiều cao là 200px (hoặc bất kỳ giá trị nào bạn muốn) */
    object-fit: cover; /* Đảm bảo hình ảnh bị cắt để phù hợp với kích thước được chỉ định */
    object-position: center; /* Đặt vị trí của hình ảnh là giữa */
}
.card-title p {
    white-space: nowrap; /* Ngăn không cho tên sản phẩm xuống dòng */
    overflow: hidden; /* Ẩn phần vượt quá */
    text-overflow: ellipsis; /* Thêm dấu chấm 3 nếu quá dài */
}

.price p {
    margin-bottom: 0; /* Để giá sản phẩm không bị căn lề dưới */
}