@* <%-- *@
@* Created by IntelliJ IDEA. *@
@* User: ADMIN *@
@* Date: 20/5/2024 *@
@* Time: 20:03 *@
@* To change this template use File | Settings | File Templates. *@
@* --%> *@
@* <%@ page import="service.manageUser.product.ProductService" %> *@
@* <%@ page import="model.Product" %> *@
@* <%@ page import="java.util.ArrayList" %> *@
@* <%@ page import="java.sql.SQLException" %> *@
@* <%@ page contentType="text/html;charset=UTF-8" language="java" %> *@
@* <html> *@
@* <head> *@
@*     <title>Title</title> *@
@* </head> *@
@* <style> *@
@*     .list-product { *@
@*         width: 1080px; *@
@*     } *@
@* *@
@*     .list-product .product { *@
@*         width: 200px; *@
@*     } *@
@* *@
@*     .list-product .product img { *@
@*         height: 200px; *@
@*         width: 200px; *@
@*     } *@
@* *@
@*     .btn-d-none { *@
@*         font-size: 13px; *@
@*         height: 30px; *@
@*         width: 80px; *@
@*         text-align: center; *@
@*         line-height: 30px; *@
@*         /* Căn giữa theo chiều dọc */ *@
@*         display: none; *@
@*         background-color: #A80F23; *@
@*         color: #ffffff; *@
@*         animation: moveUp 1s ease forwards; *@
@*     } *@
@* *@
@*     .product:hover .btn-d-none { *@
@*         display: block; *@
@*     } *@
@* *@
@*     .product .btn-d-none:hover { *@
@*         border-width: 2px; *@
@*         border-style: dashed; *@
@*         border-color: black; *@
@*         color: #A80F23; *@
@*         background-color: #ffffff; *@
@*     } *@
@* *@
@*     @keyframes moveUp { *@
@*         0% { *@
@*             opacity: 0; *@
@*             transform: translateY(100%) *@
@*         } *@
@* *@
@*         100% { *@
@*             opacity: 1; *@
@*             transform: translateY(0) *@
@*         } *@
@*     } *@
@* </style> *@
@* <body> *@
@* *@
@* <jsp:include page="header.jsp"/> *@
@* *@
@* <section class="list-product container mt-3"> *@
@*     <p class="border-bottom fs-4">Sản Phẩm hot</p> *@
@*     <div class="col"> *@
@* *@
@*         <!-- row 1 --> *@
@*         <div class="row products"> *@
@*             <% *@
@*                 ArrayList<Product> products = (ArrayList<Product>) request.getAttribute("products"); *@
@*                 if (products != null) { *@
@*                     for (Product p : products) { *@
@*             %> *@
@*             <!-- product --> *@
@*             <div class="product col card border-0 d-flex align-items-center justify-content-center m-0 p-0"> *@
@*                 <div class="position-relative"> *@
@*                     <a href="<%=request.getContextPath()%>/productDetail?id=<%=p.getId()%>"> *@
@*                         <img class="card-img-top border-2" src="<%=p.getImg_main()%>" alt="ảnh"> *@
@*                         <p class="d-inline position-absolute top-0 start-0 ms-2 mt-2 bg-danger text-white rounded fw-bold fs-6"> *@
@*                             -12% *@
@*                         </p> *@
@*                     </a> *@
@*                     <div class="d-flex justify-content-between border-0 position-absolute bottom-0 start-0" style="width: 100%;"> *@
@*                         <a class="btn rounded-0 btn-d-none p-0 fw-bold" href="<%=request.getContextPath()%>/order?id=<%=p.getId()%>&num=1">Mua</a> *@
@*                         <a class="btn rounded-0 btn-d-none p-0 fw-bold" href="#">Giỏ hàng</a> *@
@*                     </div> *@
@*                 </div> *@
@*                 <div class="card-body pt-1"> *@
@*                     <p class="card-text text-center d-block fs-5 m-0"><%=p.getName()%></p> *@
@*                     <p class="card-text text-center d-block fs-6 mt-1"><%=p.getPrice()%> đ</p> *@
@*                 </div> *@
@*             </div> *@
@*             <% *@
@*                 } *@
@*             } else { *@
@*             %> *@
@*             <p>Không có sản phẩm nào được tìm thấy.</p> *@
@*             <% *@
@*                 } *@
@*             %> *@
@*         </div> *@
@* *@
@* *@
@*         <!-- pagination --> *@
@*         <div class="pagination d-flex justify-content-center mt-3"> *@
@*             <nav aria-label="Page navigation"> *@
@*                 <ul class="pagination pagination-sm"> *@
@*                     <% *@
@*                         Integer totalPage = (Integer) request.getAttribute("total_page"); *@
@*                         if (totalPage != null) { *@
@*                             for (int i = 1; i <= totalPage; i++) { *@
@*                     %> *@
@*                     <li class="page-item"> *@
@*                         <a class="page-link" href="<%=request.getContextPath()%>/search?page=<%= i %>&&txtSearch=<%=request.getAttribute("txtSearch")%>"><%= i %></a> *@
@*                     </li> *@
@*                     <% *@
@*                             } *@
@*                         } *@
@*                     %> *@
@*                 </ul> *@
@*             </nav> *@
@*         </div> *@
@* *@
@*     </div> *@
@*     <script> *@
@*         const pagination = document.querySelectorAll('.page-link'); *@
@*         pagination.forEach(item => { *@
@*             item.addEventListener('click', function () { *@
@*                 pagination.forEach(btn => { *@
@*                     btn.classList.remove('active'); *@
@*                 }) *@
@*                 item.classList.add('active') *@
@*             }) *@
@*         }) *@
@*     </script> *@
@* </section> *@
@* *@
@* <jsp:include page="footer.jsp"/> *@
@* </body> *@
@* </html> *@
