<%--
  Created by IntelliJ IDEA.
  User: ADMIN
  Date: 17/3/2024
  Time: 23:04
  To change this template use File | Settings | File Templates.
--%>
<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <style>
        #loginPage .container-register {
            width: 1000px;
            padding: 5px;
            margin: auto;
            margin-top: 30px;
        }

        #loginPage .logo img {
            height: 150px;
            width: 150px;
        }
        #loginPage .bg{
            background-color: #FCF7DC;
            border: 5px solid black; /* Định dạng viền: 2px độ dày, solid kiểu viền, black màu sắc */
            border-radius: 3%;
        }
        #loginPage .username_password input{
            margin-left: 50px;
            margin-top: 15px;
            width: 500px;
        }


        #loginPage .bg-bt{
            background-color: #F5DB62;
        }
        #loginPage .bg-bt:hover{
            background-color: #ffffff;

        }
        #loginPage .line{
            height: 3px; /* Độ dày của đường thẳng */
            width: 30%; /* Độ rộng của đường thẳng */
            background-color: black; /* Màu của đường thẳng */
            margin:  auto; /* Căn giữa theo chiều ngang */
            margin-top: -15px;
        }

    </style>
</head>
<body>
<jsp:include page = "/views/header.jsp"/>
<section id="loginPage">
    <div style="color:red"><%=(request.getAttribute("notify") != null ? request.getAttribute("notify") : "")%>
    </div>
    <div class="container-register ">
        <div class="row ">
            <!-- anh hien thi  -->
            <div class="col-4">
                <img src="<%=request.getContextPath()%>/img/banner/TTN.png" alt="">
            </div>
            <!-- form nhap du lieu  -->
            <div class="col-8 bg">
                <form class="form-login" action="<%=request.getContextPath()%>/loginWeb" method="post">
                    <div class="row text-center">
                        <div class="logo mt-3">
                            <img src="<%=request.getContextPath()%>/img/logo.png" alt="logo">
                        </div>
                        <div id="log_in">
                            <h1>Đăng nhập</h1>
                        </div>
                    </div>
<%--                    input email and password--%>
                    <div class="username_password" >
                        <label for="username">Tài khoản:</label>
                        <input type="text" name="username" placeholder="username" value="" id="username">
                        <br>
                        <label for="password">Mật khẩu:</label>
                        <input type="password" name="password" placeholder="password" value="" id="password">
                    </div>
<%--                    dang nhap--%>
                    <div class="row text-center mt-3 fw-bold">
                        <div id="login">
                            <button id="submit" class="border-2 rounded bg-bt">
                                <h3>Đăng nhập</h3>
                            </button>
                        </div>
<%--                        quen mat khau--%>
                        <a href="<%=request.getContextPath()%>/views/user/forgotPassword.jsp" class="fs-6 text-decoration-none fw-bold">Quên mật khẩu</a>
                        <span>Hoặc</span> <div class="d-flex">
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                    </div>
<%--                    dang nhap google facebook--%>
                    <div class="d-flex justify-content-center fs-5 ">
                        <p>Đăng nhập với:</p>
                        <a href="" class="ms-3 me-2 pt-2">
                            <i class="fab fa-facebook"></i>
                        </a>
<%--                        login google--%>
                        <a
                            href="https://accounts.google.com/o/oauth2/auth?scope=email&redirect_uri=http://localhost:8080/DaQuyStore_war/loginGoogle&response_type=code&client_id=154679706679-29nmsp8c4r1phddtk3d4gcr1u5b5hic7.apps.googleusercontent.com&approval_prompt=force"
                            class="ms-3 pt-2">
                            <i class="fab fa-google"></i>
                        </a>
                    </div>
<%--                    dang ky--%>
                    <div class=" fs-5 d-flex justify-content-end">

                        <div id="register" class=" btn border border-dark" >
                            <a href="${pageContext.request.contextPath}/register" class="fw-bold text-decoration-none">
                                Đăng ký</a>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<jsp:include page="/views/footer.jsp"/>
</body>
<script>
    $(document).ready(function (){
        nav_active()
    })
    function nav_active() {
        $('a.nav-link').removeClass('active')
    }
</script>
</html>
