@* <%-- *@
@*   Created by IntelliJ IDEA. *@
@*   User: ADMIN *@
@*   Date: 17/4/2024 *@
@*   Time: 17:54 *@
@*   To change this template use File | Settings | File Templates. *@
@* --%> *@
@* <%@ page contentType="text/html;charset=UTF-8" language="java" %> *@
@* <html> *@
@* <head> *@
@*     <title>Thông báo</title> *@
@* </head> *@
@* <body> *@
@*     vào email xác nhận để đăng ký tài khoản! *@
@* </body> *@
@* </html> *@
